[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
ipykernel = "*"
matplotlib = "*"
tflearn = "*"
scipy = "*"
numpy = "*"
nltk = "*"
gensim = "*"
sklearn = "*"
pandas = "*"
bokeh = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
